@page "/productCategory"

<h3>Categorias</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Dias Pendientes</td>
			<td>Acciones</td>

		
		</tr>
	</thead>

	<tbody>
		@foreach (var productCategory in ProductCategories!)
		{
			<tr>
				<td>@productCategory.CategoryName</td>
				<td>@productCategory.DayMaintenance</td>
				
				<td>
					<a class="btn btn-warning">Editar</a>
					<button class="btn btn-danger">Borrar</button>
				</td>
			</tr>
		}


	</tbody>
</table>


