@page "/customers"

<h3>Clientes</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Cliente</td>
			<td></td>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td>Edwin</td>
			<td>
				<a class="btn btn-warning">Editar</a>
				<button class="btn btn-danger">Borrar</button>
			</td>
		</tr>
		<tr>
			<td>Vanessa</td>
			<td>
				<a class="btn btn-warning">Editar</a>
				<button class="btn btn-danger">Borrar</button>
			</td>
		</tr>
		<tr>
			<td>Valeria</td>
			<td>
				<a class="btn btn-warning">Editar</a>
				<button class="btn btn-danger">Borrar</button>
			</td>
		</tr>
	</tbody>
</table>


