@page "/products"

<h3>Productos</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Nombre</td>
			<td>Precio</td>
			<td>Placa</td>
			<td>Modelo</td>
			
			<td>Acciones</td>
		</tr>
	</thead>

	<tbody>
		@foreach (var product in Products!)
		{
			<tr>
				<td>@product.ProductName</td>
				<td>@product.Price</td>
				<td>@product.Plate</td>
				<td>@product.Model</td>
				
				<td>
					<a class="btn btn-warning">Editar</a>
					<button class="btn btn-danger">Borrar</button>
				</td>
			</tr>
		}


	</tbody>
</table>


