@page "/tasks"

<h3>Tareas Pendientes</h3>

<table class="table table-striped">
	<thead>
		<tr>
			<td>Fecha</td>
			<td>Descripcion</td>
			
		</tr>
	</thead>

	<tbody>
	<tr>
			<td>2024-01-15</td>
            <td>Revisar inventario de productos</td>
	</tr>
	</tbody>
</table>


